[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/snippets-bib"]
	path = .vim/bundle/snippets-bib
	url = git://github.com/rbonvall/snipmate-snippets-bib.git
[submodule ".vim/bundle/snippets"]
	path = .vim/bundle/snippets
	url = git://github.com/rbonvall/snipmate-snippets.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/snippets-cuda"]
	path = .vim/bundle/snippets-cuda
	url = git@github.com:cmaureir/snipmate-snippets-cuda
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/snippets-rst"]
	path = .vim/bundle/snippets-rst
	url = git@github.com:cmaureir/snipmate-snippets-rst.git
[submodule ".vim/bundle/colors-solarized"]
	path = .vim/bundle/colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
